# Pandas

In [1]:
# Read the 'Salaries' file into a Pandas Dataframe

import pandas as pd

In [8]:
sal = pd.read_csv('Salaries.csv')
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [32]:
# Print the columns of sal; 
#sal.count()

Id                  148654
EmployeeName        148654
JobTitle            148654
BasePay             148045
OvertimePay         148650
OtherPay            148650
Benefits            112491
TotalPay            148654
TotalPayBenefits    148654
Year                148654
Notes                    0
Agency              148654
Status                   0
dtype: int64

In [5]:
print(sal.columns.values)

['Id' 'EmployeeName' 'JobTitle' 'BasePay' 'OvertimePay' 'OtherPay'
 'Benefits' 'TotalPay' 'TotalPayBenefits' 'Year' 'Notes' 'Agency' 'Status']

In [ ]:
# Print the Job Title of the majority of the people in the data frame

In [7]:
sal['JobTitle'].value_counts().head(1)

Transit Operator    7036
Name: JobTitle, dtype: int64

In [ ]:
# Create a new dataframe for Average Base Salary by the Job Title

In [13]:
jobTitleBaseSalary = sal.groupby('JobTitle').mean()['BasePay']
jobTitleBaseSalary.head()

JobTitle
ACCOUNT CLERK                  43300.806506
ACCOUNTANT                     46643.172000
ACCOUNTANT INTERN              28732.663958
ACPO,JuvP, Juv Prob (SFERS)    62290.780000
ACUPUNCTURIST                  66374.400000
Name: BasePay, dtype: float64

In [ ]:
# What Job Title has the maximum base salary on average

In [17]:
print(sal[['JobTitle','BasePay']][sal.BasePay == sal['BasePay'].max()])

              JobTitle    BasePay
72925  Chief of Police  319275.01

In [27]:
# Create a new column named 'General' in the DataFrame sal, which has value True if 
# the job title has string ‘general’ in it, false otherwise. (make sure to ignore case)
sum(sal['JobTitle'].str.lower().str.contains('chief'))

627

In [40]:
sal['General'] = [True if "general" in x.lower() else False for x in sal['JobTitle']]
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,General
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,True
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,False
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,False
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,False
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,False

# List

In [41]:
# Create a list of 25 random integers between 0 and 100 (Use List Comprehensions)
import random

In [45]:
l1 =  [random.randrange(1, 100, 1) for i in range(25)]
print(l1)

[35, 37, 97, 8, 1, 45, 2, 34, 80, 87, 21, 91, 3, 21, 65, 40, 72, 74, 55, 4, 61, 24, 42, 59, 14]

In [ ]:
# Print the index of the biggest number in the list l1

In [46]:
l1.index(max(l1))

2

In [ ]:
# Create a dictionary which counts the occurance of each number in the list

In [47]:
l1_dict = dict((x,l1.count(x)) for x in set(l1))

In [ ]:
# Print the keys of the dictionary

In [49]:
print(l1_dict.keys())

[1, 2, 3, 4, 8, 14, 21, 24, 34, 35, 37, 40, 42, 45, 55, 59, 61, 65, 72, 74, 80, 87, 91, 97]

In [ ]:
# What's the sum of the occurrences

In [50]:
sum(l1_dict.values())

25

In [ ]:
# Remove 5th element from the list l1

In [52]:
del l1[4]

print(l1)

[35, 37, 97, 8, 2, 34, 80, 87, 21, 91, 3, 21, 65, 40, 72, 74, 55, 4, 61, 24, 42, 59, 14]

In [ ]:
# Add numbers 51,12,and 17 in the list l1

In [55]:
l1.extend([51,12,17])
print(l1)

[35, 37, 97, 8, 2, 34, 80, 87, 21, 91, 3, 21, 65, 40, 72, 74, 55, 4, 61, 24, 42, 59, 14, 51, 12, 17, 51, 12, 17]

In [ ]:
# What's the length of l1 and the type of the last element of l1

In [63]:
type(l1[-1])

int

In [62]:
len(l1)

29

In [ ]:
# Create a list of all the even numbers in the list l1

In [64]:
l2 = [x for x in l1 if x % 2 == 0]

In [ ]:
# Sort the List l1, and print the reverse of the sorted lsit

In [69]:
l1.sort(reverse=True)


print(l1)

[97, 91, 87, 80, 74, 72, 65, 61, 59, 55, 51, 51, 42, 40, 37, 35, 34, 24, 21, 21, 17, 17, 14, 12, 12, 8, 4, 3, 2]

# Set

In [4]:
# You are given the lists of english, spanish, and french speaking countries

In [78]:
englishCountries = ['Antigua and Barbuda', 'Bahamas', 'Barbados', 'Belize', 'Botswana', 'Burundi', 'Cameroon', 'Canada', 'Cook Islands', 'Dominica', 'Eswatini (Swaziland)', 'Fiji', 'The Gambia', 'Ghana', 'Grenada', 'Guyana', 'India', 'Ireland', 'Jamaica', 'Kenya', 'Kiribati', 'Lesotho', 'Liberia', 'Malawi', 'Malta', 'Marshall Islands', 'Mauritius', 'Federated States of Micronesia', 'Namibia', 'Nauru', 'Nigeria', 'Niue14', 'Pakistan', 'Palau', 'Papua New Guinea', 'Philippines', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'Seychelles', 'Sierra Leone', 'Singapore', 'Solomon Islands', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Tonga', 'Trinidad and Tobago', 'Tuvalu', 'Uganda', 'Vanuatu', 'Zambia', 'Zimbabwe']

In [79]:
spanishCountries =['Mexico', 'Colombia', 'Spain', 'Argentina', 'Peru', 'Venezuela', 'Chile', 'Ecuador', 'Guatemala', 'Cuba', 'Bolivia', 'Dominican Republic', 'Honduras', 'Paraguay', 'El Salvador', 'Nicaragua', 'Costa Rica', 'Puerto Rico', 'Panama', 'Uruguay', 'Equatorial Guinea']

In [80]:
frenchCountries = ['DR Congo', 'France', 'Canada', 'Madagascar', 'Cameroon', 'Ivory Coast', 'Niger', 'Burkina Faso', 'Mali', 'Senegal', 'Chad', 'Guinea', 'Rwanda', 'Belgium', 'Burundi', 'Benin', 'Haiti', 'Switzerland', 'Togo', 'Central African Republic', 'Congo', 'Gabon', 'Equatorial Guinea', 'Djibouti', 'Comoros', 'Luxembourg', 'Vanuatu', 'Seychelles', 'Monaco']

In [9]:
# Create a list of Countries which speak English, Spanish, and French

In [90]:
def intersection(lst1, lst2, lst3): 
    lst3 = [value for value in lst1 if value in (lst2,lst3)] 
    return lst3 

print(intersection(englishCountries, spanishCountries, frenchCountries))

[]

In [10]:
# A list of Countries which speak English and Spanish but not French

In [95]:
def intersection(lst1, lst2, lst3): 
    lst3 = [value for value in lst1 if value in lst2 if value not in lst3] 
    return lst3 

print(intersection(englishCountries, spanishCountries, frenchCountries))

[]

In [11]:
# A list of Countries which speak only one of language.

In [12]:
# A list of Countries which speak any of the languages. (The list should have unique elements)

# String

In [71]:
s1 = 'This is an example string'

In [72]:
# Convert s1 to "This-is-an-example-string"

'This-is-an-example-string'

In [73]:
s2 = s1.replace(" ", "-")

In [ ]:
# Print the last four elements of s1 (Answer: ring)

In [77]:
print(s1[-4::])

ring

# Function

In [14]:
# Ask User for an non negative integer, if the user input anything other than non negative interger raise an Error

In [ ]:
n = ''' Your Code Here '''

In [ ]:
''' Code to Raise error if not non - negative integer'''

In [15]:
# Create a function which returns the fibonacci number of given integer

In [ ]:
def fib(n):
    ''' Your Code Here '''

In [ ]:
# Call the above function and print result